@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$primary-color:#00b8a9;
$secondary-color1:#f8f3d4;
$secondary-color2:#f6416c;
$extra-color:#ffde7d;
$std-height:40px;

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

@mixin flex-position($prop1, $prop2, $prop3) {
  display: flex;
  justify-content: $prop1;
  align-items: $prop2;
  flex-direction:$prop3
}

#app-root {
  max-width:600px;
  margin:0 auto;
}

 