@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$primary-color:#00b8a9;
$secondary-color1:#f8f3d4;
$secondary-color2:#f6416c;
$extra-color:#ffde7d;
$std-height:40px;

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

@mixin flex-position($prop1, $prop2, $prop3) {
  display: flex;
  justify-content: $prop1;
  align-items: $prop2;
  flex-direction:$prop3
}

#app-root {
  max-width:600px;
  margin:0 auto;
}

.header {
@include flex-position(space-between, center, default);
height:$std-height;
padding: 0px 10px;
background-color: $primary-color;
}

.header__hamburger {
  cursor:pointer;
  width:20px;
}

.header__title {
  font-size:22px;
  font-family: 'Ubuntu', sans-serif;
  color:#fff;
}

.hamburger__line {
  width:23px;
  margin-top:4px;
  border-top: 2px solid #fff;
}

.header__dots {
  position: relative;
}

 .three-dots-modal {
    width:180px;
    height:100px;
    position: absolute;
    top:16px;
    right:14px;
    z-index:999;
  }

.header__dots:after {
  content: '\2807';
  font-size: 20px;
  color:#fff;
  cursor: pointer;
  }

  .options-modal {
    width:300px;
    height:100vh;
  }

  .options-modal__content {
    height:100vh;
    background-color: rgb(245, 234, 234);
    outline:none;
  }

  .three-dots-modal__content {
    height:100px;
    background-color: rgb(245, 234, 234);
    @include flex-position(center, center, column);
    justify-content:right;
    outline:none;
  }

  .three-dots-modal__content--child {
    @include flex-position(center, center, default);
    height:50px;
    width:100%;
    cursor: pointer;
  }

   .three-dots-modal__content--child:hover {
     color:#fff;
     background-color: lighten($primary-color, 2%)
   }

   .nav-bar {
     @include flex-position(space-around, center, default);
     background-color:$primary-color;
     width: 100%;
     height:$std-height;
     color:#fff;
     text-transform: uppercase;
     font-size:12px;
   }

   .nav-bar--items {
      @include flex-position(center, center, default);
      height:40px;
      width:33.33%;
      cursor: pointer;
   }

   .nav-bar--items:hover {
     background-color:lighten($primary-color, 5%);;
     text-decoration: underline;
   }

 .nav-bar__friends--active, .nav-bar__groups--active, .nav-bar__activity--active {
     text-decoration:underline;
     border-bottom: 2px solid #fff;
     box-sizing: border-box;
   }

   .user {
     width:100%;
     height:80px;;
     background-color: darken($secondary-color1, 20%);
     @include flex-position(space-around, center, default);
   }

   .user__info {
     @include flex-position(space-around, center, default);
   }

   .upload-avatar {
     display: none;
   }

   .upload-avatar--btn {
     min-width:55px !important;
     height:50px !important;
     border-radius:50%;
     background-image: url("https://bit.ly/2UhwGb4");
     border:3px solid $primary-color;
     margin-right:10px;
   }

   .filter {
     position:relative;
   }

   .filter__btn {
      min-width:35px !important;
     height:30px !important;
     @include flex-position(center, center, default);
     border:2px solid black;
     border-radius:50%;
     cursor: pointer;
     background-color: #fff;
   }

   .filter__modal {
     width:280px;
    height:150px;
    position: absolute;
    top:25px;
    right:25px;
    z-index:999;
    @include flex-position(space-around, left, column);
   }

   .filter__modal--child {
     height:100%;
     padding-left:10px;
     background-color: lightgrey;
     cursor: pointer;
     @include flex-position(space-around, left, column);
     
   }

   .filter__modal--child:hover {
background-color: grey;
color:white;
   }

   .friends__add-friend {
      @include flex-position(center, center, default);
      margin-top:20px;
      :hover {
       background-color: grey;;
     }
   }

   .friends__add-btn {
     width:90%;
     background-color: lightgrey;
   }

  .add-expense-button {
    margin-left:.5rem;
    border-radius:50% !important;
    min-width:40px;
    height:45px;
    color:#ffffff;
    font-size:30px !important;
    cursor: pointer;
    position:fixed;
     bottom:5%;
     right:5%;
  }
